body{
    background-color: lightgray;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar{
    grid-area: 1/1/3/2; /*text von sidebar zieht sich über den gesamten bildschirm. Warum?*/
    display: grid;
    padding-left: 15px;
    background-color: rgb(69, 133, 155);
    color: white;
    font-size: 2vw;
    font-weight: bolder;
}

.sidebar p{
    color: white;
    font-size: 1.3vw;
}



.header{
    grid-area: 1/2;
    background-color: white;
    box-shadow: 0 1px 20px -10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 2vw;
}

.user-interface{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 1vw;
}

.searchbar{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

#search-field{
    background-color: lightgray;
    border: none;
    border-radius: 15px;
}

.user-info{
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    align-items: center;
}

.nav-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 3vw;
    align-items: center;
}

.profile-overview{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.greeting{
    padding: 0px;
    margin: 0px;
    font-size: 0.8vw;
}

.profile-greeting>.profile-name{
    font-size: 1.3vw;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.nav-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

.button{
    background-color: rgb(40, 73, 165);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 20px;
    height: 4vh;
    width: 8vw;
    margin: 0px;
    padding: 0px;
}

.main-content{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    padding-left: 1vw;
    padding-bottom: 7vh;
    gap: 1vw;
    padding-right: 2vw;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 3fr 3fr;
    grid-area: span 2/1;
    gap: 1vw;
    margin-top: 10px;
}

.projects>p{
    grid-area: 1/span 2;
    padding: 0px;
    margin: 0px;
    font-size: 1.5vw;
    font-weight: 500;
}

.project-card{
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 25fr;
    gap: 1vw;
    box-shadow: 0 0.5px 18px -20px;
    width: 30vw;
}

.project-card>div{
    background-color: rgb(255, 187, 0);
    grid-area: 1/1;
    border-radius: 10px 0px 0px 10px;
}

.project-title{
    grid-area: 1/2;
    font-size: 1vw;
}

.announcements{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: 1/2;

    gap: 1vw;
    margin-top: 10px;
}

.announcements>p{
    padding: 0px;
    margin: 0px;
    font-size: 1.5vw;
    font-weight: 500;
}

.announcements-card{
    background-color: white;
    border-radius: 10px;
    padding: 1vw 1.5vw 1vw 1.5vw;

    display: grid;
    grid-template-columns: 1fr;
}

.announcements-card>div{
    border-bottom: 1px solid gray;
}

.trending{
    grid-area: 2/2;
}

